@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP&display=swap'

$dark: #274156
$medium: #D0CCD0
$light: #FBFCFF

body
    font-family: 'Noto Sans JP', sans-serif
    font-size: 4.2vmin
    background: $dark
    margin: 0
    padding: 0

li
    list-style: none

#container
    min-height: 100vh
    display: flex
    flex-flow: column nowrap
    justify-content: flex-start

#form
    font-family: inherit
    display: flex
    justify-content: center
    padding: 2em
    background: $medium

    button

        border: none
        height: 2.4em
        padding: 0 1em
        margin: 0
        text-decoration: none
        background: $dark
        color: $light
        font-size: 1em
        cursor: pointer
        text-align: center
        transition: background 100ms ease, transform 100ms ease

        &:active
            transform: scale(0.9)
            background: $medium

        &:focus
            outline: none

    input
        font-size: 1em
        height: 2em
        flex-grow: 2
        padding: 0 1em
        margin: 0
        border: 0.2em solid $dark
        outline: none
        &:hover
            outline: none
        &:active
            outline: none

#hits-container
    display: flex
    flex-flow: row wrap
    margin: 0
    padding: 1em 2em
    background: $light
    &::after
        content: ''
        flex: auto

    .hits
        margin: 1em 0.3em
        padding: 0.3em
        border: 0.05em solid $dark
        color: $light
        background: $dark
        position: relative

        p
            margin: 0
            padding: 0
            font-size: 0.8em

        .yomi
            display: none

        &:hover
            color: $dark
            background-color: $light
            cursor: pointer

            .yomi
                display: block
                position: absolute
                width: max-content
                bottom: -2em
                left: 50%
                transform: translate(-50%, 0)

#results
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: stretch
    padding: 2em

    > section
        min-width: 20em
        width: calc( 50% - 2em ) 
        margin: 1em

.definition
    margin: 1em 0
    padding: 2em
    border: 0.1em solid $dark
    outline: 0.1em solid $light
    background: $light


.collapse
    position: relative
    color: $light
    margin: 0
    &::after
        cursor: pointer
        content: ''
        position: absolute
        width: 0
        height: 0
        right: 0
        top: 50%
        border: 0.3em solid $light
    &:active::after
        animation: collapse 150ms normal forwards

#input
    transition: background 0.2s cubic-bezier(1,-0.02,.98,.68)

.loader
    border: 1em solid $light
    border-top: 1em solid $dark
    border-radius: 50%
    width: 2em
    height: 2em
    animation: spin 2s linear infinite
    margin: 1em


@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

@keyframes collapse
    0%
        border: 0.3em solid $light
    100%
        border: 0.3em solid $light
        border-radius: 50%

.active
    background: $light !important
    color: $dark !important
    z-index: 100
    .yomi
        display: block !important
        position: absolute
        width: max-content
        bottom: -2em
        left: 50%
        transform: translate(-50%, 0)
