@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP&display=swap';
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 4vmin;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#container {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  background: black;
  padding-bottom: 2em;
}

#form {
  font-family: inherit;
  padding: 2em 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: dimgrey;
}
#form button {
  display: inline-block;
  border: none;
  min-height: 2.4em;
  min-width: 2.4em;
  padding: 0 1em;
  margin: 0;
  text-decoration: none;
  background: #000000;
  color: #ffffff;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  transition: background 100ms ease, transform 100ms ease;
}
#form button:active {
  transform: scale(0.9);
  background: dimgrey;
}
#form button:focus {
  outline: none;
}
#form input {
  font-size: 1em;
  min-height: 2em;
  min-width: 15em;
  padding: 0 1em;
  margin: 0;
  border: 0.2em solid black;
  outline: none;
}
#form input:hover {
  outline: none;
}
#form input:active {
  outline: none;
}

#hits-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: 2em;
  background: lightgrey;
}
#hits-container::after {
  content: "";
  flex: auto;
}
#hits-container .hits {
  margin: 1em 0.3em;
  padding: 0.3em;
  border: 0.05em solid black;
  color: white;
  background: black;
  position: relative;
}
#hits-container .hits p {
  margin: 0;
  padding: 0;
  font-size: 0.6em;
}
#hits-container .hits .yomi {
  display: none;
}
#hits-container .hits:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
#hits-container .hits:hover .yomi {
  display: block;
  position: absolute;
  width: max-content;
  bottom: -2em;
  left: 50%;
  transform: translate(-50%, 0);
}

#results {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  margin: 0 1em;
  padding-top: 1em;
}
#results > section {
  min-width: 300px;
  width: calc(50% - 1em);
  margin: 0.5em;
}

.definition {
  margin-top: 1em;
  padding: 2em;
  border: 0.1em solid black;
  outline: 0.1em solid white;
  background: white;
}

.collapse {
  position: relative;
  color: white;
  margin: 0;
}
.collapse::after {
  cursor: pointer;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  top: 50%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ffffff;
}

#input {
  transition: background 0.2s cubic-bezier(1, -0.02, 0.98, 0.68);
}

.loader {
  border: 1em solid #f3f3f3;
  border-top: 1em solid #000000;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: spin 2s linear infinite;
  margin: 1em;
}

#engRes font {
  font-size: 1em;
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.active {
  background: white !important;
  color: black !important;
  z-index: 100;
}
.active .yomi {
  display: block !important;
  position: absolute;
  width: max-content;
  bottom: -2em;
  left: 50%;
  transform: translate(-50%, 0);
}

/*# sourceMappingURL=main.css.map */
